nav{
    text-align: center;
    width: 100vw;
    background-color: rgba(0,0,0,.7);
    padding: 1em; 
}

a {
    margin: 0 .05em;
    padding: 1em;
    color: rgb(36, 36, 36);
    text-decoration: none;
    background-color: rgba(255, 251, 181);
}